@tailwind base;
@tailwind components;
@tailwind utilities;

.app{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../public/images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}